<h1>Business#index</h1>
<p>Find me in app/views/business/index.html.erb</p>
<% @businesses.each do |b| %>
    <h3><%= link_to b.name, business_path(b) %> <%= link_to '[X]', business_path(b), method: :delete %></h3>
    <p><%= b.description %></p>
<% end %>